.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  background-color: #000005;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logoContainer {
  margin-left: 40px;
}

.logo {
  width: 200px;
  height: auto;
}

.navBarContainer {
  margin-right: 40px;
}

.navBar {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.navItem {
  padding: 0 10px;
}

.headLink {
  color: #fff;
  text-decoration: none;
  font-family: 'SF Pro', sans-serif;
}

.headLink:hover {
  color: #FF5C00;
}