.colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 6rem;
    min-height: 90vh;
    background-color: #131313;
    margin:-10px;
    padding: 0px;
    font-family: SF pro;
    position: relative;
  }

  .clrTitle{
    margin-left: 20px;
    color: #ff5c00;
    margin-left: -520px;

  }

  .clrTxt {
    color:#fff;
    font-family: SF pro;
    font-size: 16px;
    padding: 40px;
    margin-top: -30px;
  }

  .swatch {
    width:150px;
  }

 .swatchContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 300px;
  height: 700px;
 }
 
 .clrSwatch {
  color: #fff;
  font-size: 12px;
 }