.main {
  display: flex;
  flex-direction: row;
  align-items: left;
  position: relative;
  background-color: #121212;
  margin: 0px;
  padding: 0px;
}

.square {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.titleContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.VideoContainer {
  min-height: calc(100vh - 60px);
  position: relative;
  z-index: 0;
}

.bgVideoContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 100%;
  min-width: 240vh;
  height: auto;
}

.backgroundVideo {
  margin: 0 auto;
  max-height: 100vh;
}

.fQ {
  font-size: 200px;
  color: #fff;
  font-family: Nunito;
  font-weight: 800;
}

.contentContainer {
  display: flex;
  align-items: center;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 8%
}

.quest {
  color: #FF5C00;
}

.sG {
  font-size: 60px;
  color: #fff;
  margin-bottom: 20px;
  display: block;
  font-family: SF pro;
}

.promptBtn {
  background-color: #FF5C00;
  border: none;
  width: 280px;
  height: 50px;
  border-radius: 30px;
  font-size: 24px;
  color: #fff;
}

.promptBtn:hover {
  font-weight: bold;
  color: #fff;
}

.promptBtnLink {
  color: #fff;
  font-family: SF pro;
  text-decoration: none;
}