.main {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 6rem;
  min-height: 90vh;
  background-color: #131313;
  margin:-10px;
  padding: 0px;
  font-family: SF pro;
  position: relative;
}

.backgroundVideo {
  margin-top: -472px;
}

.square {
  width: 50vw; 
  height: 100vh; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
  position: relative; 
}


.fQ {            
font-size: 100px;
color: #fff;
position: absolute;
top: 60px; 
left: 20px; 
}

.quest {
  color: #FF5C00;
}

.sG {
  font-size: 30px;
  color: #fff;
  margin: 0px;
  position: absolute;
  top: 250px;
  left: 20px; 
  display: block;
}

.promptBtn {
  background-color: #FF5C00;
  width:100px;
  height: 30px;
  border-radius: 15px;
  position:relative;
}

.promptBtnLink { 
  color: #fff;
  font-family: SF pro;
  text-decoration: none;
}