.logoPage {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 6rem;
    min-height: 90vh;
    background-color: #121212;
    margin: -10px;
    padding: 0px;
  }
  
.logos {
  color: #FF5C00;
  font-family: SF pro;
  margin-left: 200px;
  font-size: 40px;
}

.logoH {
  color: #FF5C00;
  font-family: SF pro;
  margin-bottom: 100px;
}
  
  .logoDescription {
    color: #fff;
    font-family: SF pro;
    font-size: 24px;
    padding: 140px;
    margin-bottom: -80px;
    font-size: 24px;
  }

  .fQLogo {
    width: 600px;
    margin-bottom: -100px;
  }
  
  .topicH {
    color: #FF5C00;
    font-family: SF pro;
    padding: 40px;
    margin-bottom: -140px;
    margin-left: -1000px;
    font-size: 40px;
  }
  
  .variations {
    display: flex;
    mix-blend-mode: screen;
    margin-left: 80px;
  }
  
  .logoExampleOne,
  .logoExampleTwo,
  .logoExampleThree {
    width: auto;
    height: 400px; 
    margin: 40px;
    transform: scale(1);
    transition: transform 0.5s ease-in-out; 
  }
  
  .variations:hover .logoExampleOne,
  .variations:hover .logoExampleTwo,
  .variations:hover .logoExampleThree {
    transform: scale(1.2); 
  }
  
  .allVariants {
    width: 1000px;
    transform: scale(1);
  }

 .logoSize {
  color: #FF5C00;
  font-family: SF pro;
  padding: 40px;
  margin-bottom: -20px;
  margin-left: -1100px;
  font-size: 40px;
 }


 .spacingInfo {
  color: #fff;
  font-family: SF pro;
  margin-bottom: -240px;
  margin-left: -775px;
  font-size: 24px;
 }

 .allSizing {
  display: flex;
  flex-direction: row;
  width: 1100px;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 400px;
  margin-top: 300px;
 }

 .spaceContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: #fff;
  font-family: SF pro;
  padding-right: 100px;
 }

 .logoH{
  color: #ff5c00;
  text-align: left;
  margin-left: -1150px;
  margin-top: -20px;
  margin-bottom: -50px;
  font-size: 40px;
}

 .logoExH {
  color: #ff5c00;
  text-align: left;
  margin-left: -100px;
  margin-top: 0px;
  font-family: Nunito;
  font-weight: 800;
  font-size: 40px;
}

 .logoExContainer {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  margin-left: -750px;
  color:#fff;
}

.charactersLogo{
  color: #ffffff;
  margin-left: -100px;
  margin-top: 0px;
  font-family: Nunito;
  font-weight: 800;
  font-size: 24px;
}

.bigNuni{
  color: #ff5c00;
  font-size: 104px;
  margin-top: -80px;
  margin-bottom: 0px;
  font-family: Nunito;
  font-weight: 800;
  margin-bottom: 100px;
}

.logoTypoText{
  color:#ffffff;
  font-family: SF pro;
  font-size: 24px;
  padding: 80px;
  margin-top: -30px;
  margin-left: 50px;
}

.favi {
  color: #FF5C00;
  font-size: 40px;
  font-family: SF pro;
  margin-left: -1150px;
}

.faviSpaceImg {
  width: 900px;
}

.mustNever {
  color: #FF5C00;
  font-size: 40px;
  font-family: SF pro;
  margin-left: -1075px;
}

.avoidP {
  color: #fff;
  font-family: SF pro;
  margin-left: -560px;
  margin-top: -10px;
  font-size: 24px;
}

.avoidList {
  color: #fff;  
  font-family: SF Pro;
  font-size: 18px;
  margin-left: -900px;
  margin-top: -10px;
}

.avoidImg {
  margin-bottom: 50px;
}