.typography {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 6rem;
    min-height: 90vh;
    background-color: #121212;
    margin:-10px;
    padding: 0px;
    font-family: SF pro;
    position: relative;
  }

  .typoTitle{
    color: #ff5c00;
    margin-left: -1100px;
    margin-bottom: -8px;
    margin-top: 50px;
    font-size: 40px;
  }

  .orange {
    color: #ff995f;
  }

  .typoText {
    color:#ffffff;
    font-family: SF pro;
    font-size: 32px;
    padding: 80px;
    margin-top: -30px;
    margin-left: 50px;
  }

  .bigSF {
    color: #ff5c00;
    font-size: 104px;
    margin-top: -80px;
    margin-bottom: 0px;
  }

  .characterH {
    color: #ff5c00;
    text-align: left;
    margin-left: -700px;
    margin-top: 50px;
    font-size: 40px;
  }

.characters {
    color: #ffffff;
    margin-left: -700px;
    margin-top: -10px;
    font-size: 32px;
}

.headingH {
    color: #ff5c00;
    text-align: left;
    margin-left: -1050px;
    margin-top: 20px;
    font-size: 40px;
  }

.exampleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 700px;
}

.mainExContainer {
    display: flex;
    flex-direction: column;
}

.logoExContainer {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.logoExH {
    color: #ff5c00;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    font-family: Nunito;
    font-weight: 800;
    font-size: 40px;
  }

  .charactersLogo{
    color: #ffffff;
    margin-left: 0px;
    margin-top: 0px;
    font-family: Nunito;
    font-weight: 800;
    font-size: 32px;
}

.headingDescript {
    color: #fff;
    margin-left: -650px;
    margin-top: -10px;
    font-size: 32px;
}

.hOne {
    font-family: SF Pro;
    font-weight:bold;
    color:#fff;
    font-size: 38px;
    margin-left: -1020px;
    margin-top: -10px;
}

.hTwo {
    font-family: SF Pro;
    font-weight:bold;
    color:#fff;
    font-size: 32px;
    margin-left: -1070px;
    margin-top: -10px;
}

.subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:400px;
    margin-top: -260px;
    width: 1000px;
    margin-bottom: 100px;
}

.subConOne {
 display: flex;
 flex-direction: row;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 width: 1000px;
 margin-left: 0px;
}

.sec {
  color: #ff5c00;
  font-size: 40px;
  margin-left: 00px;
}

.secH {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-left: -5px;
  margin-top: -10px;
}

.subCon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 700px;
  margin-right: 50px;
}

.secSub {
  color: #ff5c00;
  font-size: 40px;
  margin-left: -600px;
}

.sub {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-left: -600px;
  margin-top: -10px;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyCopy {
  color: #ff5c00;
  font-size: 40px;
  margin-left: -200px;
}

.bodyOne {
  color: #fff;
  font-size: 16px;
  margin-left: -300px;
  margin-top: -10px;
}

.bodyTwo {
  color: #fff;
  font-size: 14px;
  margin-left: -310px;
  margin-top: -5px;
}