.colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    min-height: 90vh;
    background-color: #121212;
    font-family: SF pro;
    position: relative;
    margin: 0 auto;
    padding:5rem;
  }

  .colorPalette{
    margin: 0 auto;
  }

  .clrTitle{
    color: #ff5c00;
    font-size: 40px;
    margin: 0 auto;
    padding-bottom:1rem;
  }

  .clrTxt {
    color:#fff;
    font-family: SF pro;
    font-size: 24px;
  }

  .swatch {
    width:300px;
    transform: scale(1);
    transition: transform 0.5s ease-in-out; 
  }

  .swatch:hover {
    width:300px;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out; 
  }

 .swatchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5rem 10rem;
  margin: 0;
  padding: 2rem 0;
 }
 
 .clrSwatch {
  color: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  gap: 1rem;
  width: 500px;
 }

 .clrSubOne {
  color: #ff5c00;
  font-size: 40px;
 }

 .clrSubTwo {
  color: #ff5c00;
  text-align: left;
  font-size: 40px;
 }

.exDescription {
  color:#fff;
  font-size: 24px;
}

.colorEx {
  width: auto;
  height: 400px; 
  margin: 40px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out; 
}

.colorEx:hover {
  transform: scale(1.2); 
}

.acDescription {
  color:#fff;
  font-size: 24px;
}

.accessibleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 3rem;
  margin: 0;
  padding: 2rem 0;
}

.accessiblePic {
  width: 50%;
  transform: scale(1);
  transition: transform 0.5s ease-in-out; 
}

.accessiblePic:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out; 
}

.accessibleP {
  color:#fff;
  font-size: 24px;
  width:50%;
  margin:0;
  display: flex;
  align-items: center;
}