.graphics {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: justify;
  padding: 6rem;
  min-height: 90vh;
  background-color: #121212;
  padding: 0px;
}

.firstContainer {
  padding: 2em 0;
}

.pContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin: 0 auto 35px;

}

.pContainer:last-child {
  margin-bottom: 80px;
}

.navIconContainer {
  margin: 0 auto;
  border-bottom: 2px solid #FF5C00;
}

.graphicsExplainedContainer {
  margin: 2rem auto;
}

.graphicsH {
  color: #FF5C00;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0 auto;
  padding-bottom:1rem;
}

.badgesP {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 4rem;
}

.badgesImg {
  width: 600px;
  height: auto;
  background-color: transparent;
  align-items: center;
  justify-content:center ;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.badgesImg:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.navP {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-bottom:2rem;
}

.homeIcon {
  width: 100px;
  height: 100%;
}

.homeP {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  width: 100vh;
  margin: 0;
  font-size: 18px;
}

.workoutIcon {
  width: 100px;
}

.workoutP {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.rewardIcon {
  width: 100px;
}

.rewardsP {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 18px;
}


.nutritionIcon {
  width: 100px;
}

.nutritionP {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.settingsIcon {
  width: 100px;
}

.settingsP {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.avatars {
  color: #FF5C00;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.avatarsP {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.allCharacters {
  width: 1200px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.allCharacters:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5rem 10rem;
  margin: 0;
  padding: 2rem 0;
}

.buttons {
  color: #FF5C00;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.buttonsFirstP {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.buttonPOne {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.buttonImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 5rem 10rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.buttonPTwo {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.card {
  width: 300px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.iconsExOne {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.quizEx {
  width: 300px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.quizEx:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.appOffersP {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.imagesContainer {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.images {
  color: #FF5C00;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.imgP {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.img {
  width: calc(50% - 5px);
}

.lastP {
  color: #fff;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  font-size: 24px;
}