.typography {
  text-align: justify;
  min-height: 90vh;
  background-color: #121212;
  font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0 auto;
  padding:5rem;
  }

  .fontSize{
    padding:2rem 0 0 0;
  }

  .mainExContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .typoContainer{
    margin: 0 auto;
  }

  .typoExplained {
    margin: 0 auto;
  }

  .typoTitle{
    color: #ff5c00;
    font-size: 40px;
    padding-bottom:1rem;
  }

  .orange {
    color: #ff995f;
  }

  .typoText {
    color:#ffffff;
    font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
    font-size: 24px;
  }

  .bigSF {
    color: #ff5c00;
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    padding:2rem 0;
  }

 .ExContainer{
  display:flex; 
  flex-direction: column;
  padding: 5rem 0;
 }
  .mainExContainer{
    display:flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    padding-top:2rem;
  }

  .characterLight, .charactersLight{
    color: #ffffff;
    font-size: 24px;
    font-weight:300;
  }

  .characterH {
    color: #ff5c00;
    text-align: left;
    font-size: 40px;
  }

  .characterRegular, .charactersRegular{
    color: #ffffff;
    font-size: 24px;
    font-weight:400;
  }

  .characterSemi, .charactersSemi{
    color: #ffffff;
    font-size: 24px;
    font-weight:600;
  }
  
  .charactersBold, .characterBold{
    color: #ffffff;
    font-size: 24px;
    font-weight:800;
  }


.characters {
    color: #ffffff;
    font-size: 24px;
}

.headingH {
    color: #ff5c00;
    text-align: left;
    font-size: 40px;
    padding-right:5rem;
  }

.mainExContainer {
}


.logoExContainer {
    display: flex;
    flex-direction: column;
}


.headingDescript {
    color: #fff;
    font-size: 32px;
}

.hOne {
    font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
    font-weight:800;
    color:#fff;
    font-size: 38px;
    margin:0;
}

.hTwo {
    font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
    font-weight:800;
    color:#fff;
    font-size: 32px;
    margin:0;
}

.subContainer,.subConOne, .subCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom:2rem;
}


.bodyContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subConOne{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .subConOne {
 display: flex;
 flex-direction: row;
 display: flex;
 flex-direction: column;
 align-items: flex-start;

} */

.sec {
  color: #ff5c00;
  font-size: 40px;
}

.secH {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin:0;
}

.secH2 {
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  margin:0;
}
/* 
.subCon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

} */

.secSub {
  color: #ff5c00;
  font-size: 40px;
}

.sub1 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin:0;
}

.sub2 {
  color: #fff;
  font-size: 16px;
  font-weight:600;
  margin:0;
}

.sub3 {
  color: #fff;
  font-size: 16px;
  font-weight:800;
  margin:0;
}
/* .bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.bodyCopy {
  color: #ff5c00;
  font-size: 40px;
}

.bodyOne {
  color: #fff;
  font-size: 16px;
  font-weight:400;
  margin:0;
}

.bodyTwo {
  color: #fff;
  font-size: 14px;
  font-weight:400;
  margin:0;
}

.bodyThree {
  color: #fff;
  font-size: 12px;
  font-weight:300;
  margin:0;
}


.bodyFont{
  display: flex;
  flex-direction: row;
  gap: 19rem;
  align-items: center;
}