.typography {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    min-height: 90vh;
    background-color: #121212;
    padding:5rem;
    font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
    position: relative;
  }

  .typoExplained {
    margin: 0 auto;
  }

  .typoTitle{
    color: #ff5c00;
    font-size: 40px;
    margin: 0 auto;
    padding-bottom:1rem;
  }

  .orange {
    color: #ff995f;
  }

  .typoText {
    color:#ffffff;
    font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
    font-size: 24px;
  }

  .bigSF {
    color: #ff5c00;
    font-size: 104px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 4rem;
  }

  .characterH {
    color: #ff5c00;
    text-align: left;
    font-size: 40px;
  }

.characters {
    color: #ffffff;
    font-size: 24px;
}

.headingH {
    color: #ff5c00;
    text-align: left;
    font-size: 40px;
  }

.exampleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainExContainer {
    display: flex;
    flex-direction: column;
}


.headingDescript {
    color: #fff;
    font-size: 32px;
}

.hOne {
    font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#fff;
    font-size: 38px;
}

.hTwo {
    font-family: 'SF Pro Text', -apple-system, Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#fff;
    font-size: 32px;
}


.sec {
  color: #ff5c00;
  font-size: 40px;
}

.secH {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.secSub {
  color: #ff5c00;
  font-size: 40px;
}

.sub {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.bodyCopy {
  color: #ff5c00;
  font-size: 40px;
}

.bodyOne {
  color: #fff;
  font-size: 16px;
}

.bodyTwo {
  color: #fff;
  font-size: 14px;
}

.mainExContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
}

.exContainer{
  display: flex;
  flex-direction: column;
  padding: 3em;
  margin: 0 auto;
}