.footer {
  background-color: #070707;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  }

.rights {
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}