.footer {
        background-color: #070707;
        height: 20px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        margin:-10px;
      }
.rights {
  color: #fff;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}